ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

ion-toolbar{
    display: table;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    margin: 10%;
    height: 30%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

ion-button{
    align-items: center;
    margin: 8px 0;
    width: 20%;
    max-width: 300px;
}

p{
    text-align: center;
}