<app-header></app-header>
<ion-content class="ion-padding">
  <div class="age-container">
    <ion-text color="primary" class="question-text">
      <h1>¿Cuántos años tienes?</h1>
    </ion-text>
    
    <div class="buttons-row">
      <ion-button (click)="selectAnswer('MENOS DE 9')" expand="block" class="age-button">MENOS DE 9</ion-button>
      <ion-button (click)="selectAnswer('ENTRE 9 Y 13')" expand="block" class="age-button">ENTRE 9 Y 13</ion-button>
      <ion-button (click)="selectAnswer('MÁS DE 13')" expand="block" class="age-button">MÁS DE 13</ion-button>
    </div>
  </div>
</ion-content>